@{
    ViewData["Title"] = "Layout Containers";
}


<div class="text-center">
    <h2> PLACEHOLDER FOR LOPA PAGE </h2>
    <a class="btn-lg btn-primary" href="@Url.Action("Classic", "Forms")">Save My Lopa</a>
    <a class="btn-lg btn-info" href="@Url.Action("Classic", "Forms")">Load Lopa</a>
</div>