
<div class="container-fluid">
  <!-- START panel-->
  <div class="card">
    <div class="card-heading text-center">My Designs</div>
    <!-- START table-responsive-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Design Name</th>
            <th>Created</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a href="@Url.Action("Containers", "Layouts")">First Lopa</a> </td>
            <td>04/01/2018</td>
            <td>04/02/2018</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <!-- END table-responsive-->
  </div>
  <!-- END panel-->
</div>