@{
    ViewData["Title"] = "   ";
}
<style>
    body {
        background-image: url(https://media.cntraveler.com/photos/57067c1e9adc6caf5afe3f4c/master/pass/plane-landing-cr-getty-sb10062851ai-001.jpg);
        background-size: cover;
    }
</style>
<div ng-controller="dashboardController" class="content-heading bg-white" style="background-color: transparent; border-color: transparent;">
    <div class="text-center" style="border-color: transparent;">
        <div id="div1">
            <font color="black"><h2>CorePower Planner</h2></font>
        </div>
        <div class="col-sm-12" style="font-size:20px; color:whitesmoke">
            {{demoText}}
        </div>
        <div class="clearfix"></div>
        <a class="btn-lg btn-success" href="@Url.Action("Layer1", "Lopa")">CorePower Planner</a>
        <a class="btn-lg btn-success" href="@Url.Action("NewComponent", "Admin" )">Admin Portal</a>
    </div>
</div>
