@{
    ViewData["Title"] = "   ";
}
<style>
    body {
        background-image: url(https://media.cntraveler.com/photos/57067c1e9adc6caf5afe3f4c/master/pass/plane-landing-cr-getty-sb10062851ai-001.jpg);
        background-size: cover;
    }
</style>
<div class="content-heading bg-white" style="background-color: transparent; border-color: transparent;">
    <div class="text-center" style="border-color: transparent;">
        <div id="div1">
            <font color="black"><h2>CorePower Planner</h2></font>

        </div>
        <a class="btn-lg btn-success" href="@Url.Action("Containers", "Layouts")">Take a look</a>
    </div>
</div>
