@{
    ViewData["Title"] = "Core Power Planner";
}


@* ng-controllers links to the file in wwwroot < components < App_Scripts < Controllers < ContainersController.js   *@
<div ng-controller="containersController" class="text-center">
    <div class="row row-list" style="margin:10px;">
        <div class="col-xs-2 text-center" style="background-color:lightblue; padding:20px;height:700px;">

            <div class="form-group has-float-label">

                @* ng-model binds links this to the corresponding $scope property *@
                @* The ng-options may look weird since it normally is dealing with objects
            it looks clear when type as type.name for type in list which will track all object data
            so that it can be passed along, but only displays type.name in the picklist
                    *@
        <select class="form-control" ng-model="selectedCraftType" ng-options="type as type.name for type in craftTypeList" ng-change="selectCraftSubtypeList()" id="sel1" ">
                  @*
            <div class="list-group" ng-repeat="type as type.name for type in craftTypeList" ng-model="selectedCraftType" ng-href="#" ng-change="selectCraftSubtypeList()" class="list-group-item">
                    <a href="#" class="list-group-item list-group-item-action">{{type}}</a>
            </div>
                
                

                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                </div>
                @*<option value="" disabled selected>Choose a Plane</option>
        <option value="fixed wing">Fixed Wing</option>
        <option value="rotocraft">Rotocraft</option>
        <option value="UAV">UAV</option>*@
                </select>
                <label>Aircraft Type</label>
            </div>
            <div class="col-lg-12">
                <p>
                    {{craftSubtypeList}}
                </p>
            </div>

            <div style="padding-top:15px; width:100%" class="btn-group-vertical">
                <button class="btn btn-primary" href="@Url.Action("Classic", "Forms")">Save My Plane</button>

                <button style="margin-top:15px" class="btn btn-primary" href="@Url.Action("Classic", "Forms")">Load Plane</button>
            </div>

        </div>
        <div id="middle" class="col-xs-8 h-100" style="border:medium; border-color:red;height: 700px;">
            @* ng-src takes image associated with craft type object to dynamically display images
                These objsects should reflect the Json object returned from C# backend so that data
                from db can be seamlessly integrated with front end*@
            <img id="image" ng-src="{{selectedCraftType.imgSrc}}" style="display: block; margin: 0 auto;">
        </div>
        <div class="col-xs-2" style="background-color:lightblue;padding:20px;height:700px;">

           
    </div>
</div>
